body {
  max-width: 100%;
  display: grid;
  grid-template-areas:
    "header header"
    "side main"
    "nav main"
    "footer footer";

  grid-template-columns: 1fr 6fr;
  grid-template-rows: 0.25fr 1.75fr 0.75fr 1fr;

  gap: 1.8vw;
}

header {
  grid-area: header;
  background-color: #015F23;
  height: 14vh;
  padding: 1vw;
}

side {
  grid-area: side;
  background-color: gray;
  max-height: 45vh;
  //height: fit-content;
  padding: 1vw;
}

nav {
  grid-area: nav;
  background-color: gray;
  padding: 1vw;
}

main {
  grid-area: main;
  background-color: gray;
  padding: 1vw;
  overflow-y: auto;
}

footer {
  grid-area: footer;
  background-color: gray;
  padding: 1vw;
}
