@charset "UTF-8";

.main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;

  .hide {
    display: none;
  }
}

.logo {
  flex-basis: 50%;
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .logo-img {
    width: 40vw;
    position: relative;
    bottom: 25%;
  }

  .logo-title {
    font-size: 6vw;
    font-weight: bolder;
    position: relative;
    bottom: 25%;
  }
}

.login-container {
  flex-basis: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;

  .login-wrapper {
    position: relative;
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .login-main {
      border: 1px solid #ccc;
      border-radius: 2%;
      padding: 1.5vw;
      width: 80%;
      height: 54%;

      .login-type-select-wrapper {
        width: 100%;
      }

      .login-help-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 7%;

        a {
          font-size: 0.9rem;
          text-underline: none;

          &:hover {
            text-underline: none;
            color: black;
          }
        }
      }

      form {
        width: 100%;
        height: 100%;

        .btn-container {
          display: flex;
          flex-direction: row;
          justify-content: space-around;

          .btn {
            width: 100%;
          }
        }
      }
    }
  }
}
