@CHARSET "UTF-8";

body {
  max-width: 100%;
  display: grid;
  grid-template-areas:
    "header header"
    "side main"
    "nav main"
    "footer footer";

  grid-template-columns: 1fr 6fr;
  grid-template-rows: 0.25fr 1.75fr 0.75fr 1fr;

  gap: 1.8vw;
}

header {
  grid-area: header;
  background-color: #015F23;
  height: 14vh;
  padding: 1vw;
}

side {
  grid-area: side;
  max-height: 45vh;
  //padding: 1vw;

  .side-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;

    .side-wrapper {
      width: 100%;
      color: white;
      display: flex;
      flex-direction: column;

      .side-menu {
        border: 1px solid black;
        border-bottom: none;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
      }

      $side-menu-basis: 14%;

      &:nth-child(odd) {
        flex-basis: $side-menu-basis;

        .side-menu {
          flex-basis: 100%;
          background-color: #015F23;
          font-size: 2rem;
        }
      }

      &:nth-last-child(2) {
        .side-menu {
          border-bottom: 1px solid black;
        }
      }

      &:nth-child(even) {
        display: none;

        &:has(.side-menu:first-child:nth-last-child(3)) {
          flex-basis: $side-menu-basis*3;
        }

        &:has(.side-menu:first-child:nth-last-child(4)) {
          flex-basis: $side-menu-basis*4;
        }

        .side-menu {
          background-color: white;
          color: black;
          font-size: 1.5rem;

          &:first-child:nth-last-child(3),
          &:first-child:nth-last-child(3) ~ .side-menu {
            flex-basis: 1 / 3 * 100%;
          }

          &:first-child:nth-last-child(4),
          &:first-child:nth-last-child(4) ~ .side-menu {
            flex-basis: 1 / 4 * 100%;
          }

          &:hover {
            background-color: #aaaaaa;
            color: white
          }
        }
      }

      &:nth-last-child(1) {
        .side-menu {
          &:first-child {
            border-top: none;
          }

          &:last-child {
            border-bottom: 1px solid black;
          }
        }
      }
    }
  }
}

nav {
  grid-area: nav;
  background-color: gray;
  padding: 1vw;

}

main {
  grid-area: main;
  background-color: gray;
  padding: 1vw;
  overflow-y: auto;
}

.main-container {
  height: 100%;
  width: 100%;
  
}

.main-box {
  height: 15%;
  width: 8%;
  background-color: white;
  border: 1px solid black;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  display:inline-block;
}

.box-font {
  text-align: right;
}

footer {
  grid-area: footer;
  background-color: gray;
  padding: 1vw;
}
