@charset "UTF-8";

body {
  max-width: 100%;
  display: grid;
  grid-template-areas:
    "header header"
    "side main"
    "nav main"
    "footer footer";

  grid-template-columns: 1fr 6fr;
  grid-template-rows: 0.25fr 1.75fr 0.75fr 1fr;

  gap: 1.8vw;

  a {
    text-underline: none;
    color: black;

    &:hover {
      text-underline: none;
      color: black;
    }
  }
}

header {
  grid-area: header;
  background-color: #015F23;
  height: 14vh;
  padding: 1vw;
}

side {
  grid-area: side;
  max-height: 45vh;
  //padding: 1vw;

  .side-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;

    .side-wrapper {
      width: 100%;
      color: white;
      display: flex;
      flex-direction: column;

      .side-menu {
        border: 1px solid black;
        border-bottom: none;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
      }

      $side-menu-basis: 14%;

      &:nth-child(odd) {
        flex-basis: $side-menu-basis;

        .side-menu {
          flex-basis: 100%;
          background-color: #015F23;
          font-size: 1.6em;
        }
      }

      &:nth-last-child(2) {
        .side-menu {
          border-bottom: 1px solid black;
        }
      }

      &:nth-child(even) {
        display: none;

        @for $i from 1 to 6 {
          &:has(.side-menu:first-child:nth-last-child(#{$i})) {
            flex-basis: $side-menu-basis*$i;
          }
        }

        .side-menu {
          background-color: white;
          color: black;
          font-size: 1.3em;

          @for $i from 1 to 4 {
            &:first-child:nth-last-child(#{$i}),
            &:first-child:nth-last-child(#{$i}) ~ .side-menu {
              flex-basis: 1 / $i * 100%;
            }
          }

          &:hover {
            background-color: #eee;
          }
        }
      }

      &:nth-last-child(1) {
        .side-menu {
          &:first-child {
            border-top: none;
          }

          &:last-child {
            border-bottom: 1px solid black;
          }
        }
      }
    }
  }
}

nav {
  grid-area: nav;
  #chat {
    height: 100%;
    width: 100%;
    max-height: 980px;
    grid-area: chat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #chat #chatList {
    background-color: #ccc;
    width: 95%;
    height: 95%;
    overflow-y: auto;
  }
  #chat #chatList::-webkit-scrollbar {
    width: 10px;
  }
  #chat #chatList::-webkit-scrollbar-thumb {
    background: white;
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 7px;
    width: 3px;
  }
  #chat #chatList::-webkit-scrollbar-track {
    background: rgba(30, 30, 30, 0.85);
    border-radius: 5px;
    width: 3px;
  }
  #chat #chatList .chatBox {
    display: flex;
  }
  #chat #chatList .chatBox.mine {
    justify-content: flex-end;
  }
  #chat #chatList .chatBox.opponent {
    justify-content: flex-start
  }
  #chat #chatList .chatBox .chat {
    width: fit-content;
    height: fit-content;
    padding: 2.5px 10px 2.5px 10px;
    margin: 10px 10px 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  #chat #chatList .chatBox .chat.mine {
    background-color: yellow;
  }
  #chat #chatList .chatBox .chat.opponent {
    background-color: white;
  }
  #chat #chatForm {
    width: 90%;
  }
}

main {
  grid-area: main;
  border: 1px solid lightgray;
  //border-radius: 1%;
  padding: 1vw;
  overflow-y: auto;
  height: 100%;
}

.main-container {
  height: 100%;
  width: 100%;

}

.main-box {
  height: 15%;
  width: 8%;
  background-color: white;
  border: 1px solid black;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.box-font {
  text-align: right;
}

.modal-dialog {
  max-width: 100%;
  position: absolute;
}

.modal-header {
  height: 100%;
  width: 100%;
}

.modal-title {
  height: 100px;
  width: 200px;
  background: white;
  border: 1px solid #bbb;
  border-radius: 10px;
  margin: 20px;
}

.title-font {
  text-align: center;
  margin: revert;
}

.search {
  position: relative;
  width: 300px;
}

.search-input {
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 10px 12px;
  font-size: 14px;
  margin: 15%;
}

.search-img {
  position: absolute;
  width: 17px;
  top: 55px;
  right: -30px;
}

.modal-body {
  height: 100%;
  width: 100%;
}

.modal-box {
  height: 330px;
  width: 300px;
  background-color: white;
  border: 1px solid black;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.modal-img {
  height: 200px;
  width: 200px;
  margin: auto;
  display: block;
}

.modal-line {
  background-color: black;
}

.modal-text {
  text-align: center;
}

footer {
  grid-area: footer;
  padding: 1vw;
}
