@charset "UTF-8";

main {
  width: 100%;
  height: 100%;

  .search-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .search-input-container {
      flex-basis: 18%;
      display: flex;
      flex-direction: column;

      .search-input-wrapper {
        width: 60%;

        .custom-select {
          max-width: 20%;
        }
      }

      .search-select-type-wrapper {
        width: 40%;
        margin-top: 1vh;
      }

      .search-result-into-container {
        margin-top: 0.5vh;
      }
    }

    .search-result-container {
      flex-basis: 77%;
    }

    .search-page-container {
      flex-basis: 5%;

      .search-page-wrapper {
        display: flex;
        justify-content: center;


        .pagination > li > a {
          background-color: white;
          color: black;
        }

        .pagination > li > a.current-page {
          color: black;
          background-color: #eee;
          border-color: #ddd;
        }

        .pagination > li > a:focus,
        .pagination > li > a:hover,
        .pagination > li > span:focus,
        .pagination > li > span:hover {
          color: black;
          background-color: #eee;
          border-color: #ddd;
        }

        .pagination > .active > a {
          color: white;
          background-color: #5A4181 !Important;
          border: solid 1px #5A4181 !Important;
        }

        .pagination > .active > a:hover {
          background-color: #5A4181 !Important;
          border: solid 1px #5A4181;
        }
      }
    }
  }
}
